langchain
openai
pypdf
chromadb
tiktoken
pysqlite3-binary
langchain_community
langchain_openai
langchain_chroma
streamlit_extras

#https://python.langchain.com/v0.2/docs/how_to/
#pip install --upgrade --quiet pypdf
#pip install -qU langchain-text-splitters
#pip install chromadb
#pip install tiktoken
#pip install streamlit-extras